<header id="masthead" class="site-header">
  {% assign image_is_not_empty = include.image | is_not_empty %}
  {% assign background_img_is_not_empty = include.site.header.background_img | is_not_empty %}
  {% if image_is_not_empty %}
  <div id="header-bg" class="site-header-bg" style="background-image:url('{{ include.image | relative_url }}')"></div>
  {% elsif background_img_is_not_empty %}
  <div id="header-bg" class="site-header-bg" style="background-image:url('{{ include.site.header.background_img | relative_url }}')"></div>
  {% endif %}
  <div class="site-header-scroll">
    <div class="site-header-inside">
      <div class="site-header-vertical">
        {% include branding.html %}
        {% include navigation.html %}
      </div><!-- .site-header-vertical -->
    </div><!-- .site-header-inside -->
  </div><!-- .site-header-scroll -->
</header><!-- .site-header -->
